@import '../base';

#btn-save, #btn-download, .btn-back, #themeSun, #seeSavedGifs {
    @include themify('optionsColorIcon') {
        color: themed('optionsColorIcon');
    }
    width: 40px;
    height: 40px;
    background: transparent;
    border: 10px;
    border-radius: 50%;
    transition: color .3s ease;
    font-size: 20px;
    cursor: pointer;
    transition: background .3s, color .3s ease;
}

#btn-save:hover, #btn-download:hover, .btn-back:hover, #themeSun:hover, #seeSavedGifs:hover {
    @include themify('inputBg'){
        background: themed('inputBg');
    }
}