@import '../base';

#gif-viewer {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.91);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: 48vh;
        padding-bottom: 10px;
        object-fit: contain;
    }

    p {
        @include themify('titleViewGif') {
            color: themed('titleViewGif');
        }
        font-weight: 700;
    }
    
}