@import '../base';

.theme-dark, .theme-light {
    width: calc(inherit + 10px);
    min-height: calc(100vh - 10px);
    position: inherit;
    transition: background .3s ease;
}

.theme-dark {
    background: rgb(16, 28, 37);
}

.theme-light {
    background: rgb(165, 164, 164);
}