@import '../base';

.theme-dark, .theme-light {
    min-height: 100vh;
    position: inherit;
    transition: background .3s ease;
}

.theme-dark {
    background: rgb(16, 28, 37);
}

.theme-light {
    background: rgb(165, 164, 164);
}