* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@import './components/root';
@import './components/themes';
@import './components/navBar';
@import './components/gridGif';
@import './components/gifViewer';
@import './components/savedGifs';
@import './components/initMessage';

@import './media/device';
@import './media/default';